.wrapper {
  display: grid;
  grid-template-columns: auto 230px minmax(320px, 1200px) auto;
  grid-template-rows: auto 1fr auto;
  gap: 40px 30px;

  min-height: 100vh;
  grid-template-areas:
    ". header header ."
    ". sidebar content ."
    "footer footer footer footer";
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;

  outline: none;
}

.footer {
  grid-area: footer;
}

.skipLink {
  position: fixed;
  top: 10px;
  left: 50px;

  display: block;
  overflow: hidden;

  height: 0;

  color: var(--white);
  background: var(--primary);
}

.displayed {
  height: auto;
}

@media screen and (max-width: 765px) {
  .wrapper {
    grid-template-columns: minmax(320px, 1fr);
    grid-template-areas:
      "header"
      "content"
      "footer";

    gap: 10px;

    padding: 15px;
  }

  .sidebar {
    position: absolute;
    top: 0;
    left: -500px;
  }
}
