.textarea {
  width: 100%;

  padding: 7px 12px;

  resize: none;

  color: var(--grey);
  border: none;
  border-radius: 5px;
  outline-color: var(--primary);
  background: var(--white);
  box-shadow: 0 4px 4px rgb(0 0 0 / 5%);

  font-family: var(--font-family);

  font-size: 16px;
  line-height: 22px;
}

.textarea::placeholder {
  color: var(--grey);
}

.formField {
  position: relative;

  width: 100%;
}

.withError {
  border: 1px solid var(--red);
}

.errorMessage {
  position: absolute;
  bottom: -15px;
  left: 0;

  color: var(--red);

  font-size: 12px;
}
