.product {
  display: grid;
  grid-template-columns:
    [start] 70px [logoend] 30px [titlestart] calc(50% - 100px) [middle] 1fr [pricestart] auto [priceend]
    40px [creditstart] auto [creditend] 40px [ratestart] auto [end];

  margin-bottom: 30px;
  padding: 30px;
}

.logo {
  grid-column: start / logoend;
  grid-row: 1 / span 2;
}

.title,
.tags {
  grid-column: titlestart / middle;
}

.price,
.priceTitle {
  grid-column: pricestart / priceend;
}

.credit,
.creditTitle {
  grid-column: creditstart / creditend;
}

.rating,
.rateTitle {
  grid-column: ratestart / end;
}

.hr,
.actions {
  grid-column: start / end;
}

.features {
  grid-column: start / middle;
}

.advantagesBlock {
  grid-column: middle / end;

  font-size: 16px;
  line-height: 22px;
}

.description {
  grid-column: start / end;

  margin-bottom: 15px;

  font-size: 16px;
  line-height: 24px;
}

.logo img {
  border-radius: 5px;
}

.title {
  align-self: flex-end;

  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
}

.categoryTag {
  margin-top: 7px;
}

.price,
.credit {
  align-self: flex-end;

  font-size: 20px;
  line-height: 27px;
}

.rating {
  align-self: flex-end;
}

.priceTitle,
.rateTitle,
.creditTitle,
.month {
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
}

.discount {
  margin-left: 5px;
}

.button {
  margin-right: 20px;
}

.button:last-child {
  margin-right: 0;
}

.advantagesTitle {
  margin-bottom: 5px;

  font-weight: 600;
}

.advantages {
  margin-bottom: 20px;
  padding-left: 15px;

  border-left: 3px solid var(--green);
}

.disadvantages {
  padding-left: 15px;

  border-left: 3px solid var(--red);
}

.characteristic {
  display: grid;
  grid-template-columns: auto 1fr auto;

  padding-right: 60px;
  gap: 10px;

  font-size: 16px;
  line-height: 32px;
}

.characteristicName {
  font-weight: 600;
}

.characteristicDots {
  margin-bottom: 8px;

  border-bottom: 1px dashed var(--grey-light);
}
