html,
body {
  margin: 0;
  padding: 0;

  color: var(--black);
  background: #F5F6F8;

  font-family: "Noto Sans KR", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #3B434E;
  --grey: #A4A4A4;
  --grey-light: #EBEBEB;
  --grey-dark: #6C7077;
  --grey-hover: #8D8D8D;
  --white: white;
  --primary: #5B40C2;
  --primary-hover: #E4DDFD;
  --red: #FC836D;
  --green: #007B48;
  --green-light: #C8F8E4;
  --font-family: "Noto Sans KR", "Arial", "Helvetica", sans-serif;
}
